<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear comic</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: black;
            color: white;
        }

        .container {
            margin-top: 20px;
        }

        .comic-card {
            color: black;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            margin-bottom: 3em;
        }

        /* Estilos adicionales personalizados si es necesario */
    </style>
</head>






<body>
    <div class="container">
        <h1 style="text-align: center;margin:2em">Lista de comics de Marvel</h1>
        {% if mensaje %}
        <h1 style="text-align: center;margin:2em">{{ mensaje }}</h1>
        {% else %}

        {% endif %}

    
        <div class="comic-card">
              <form method="POST">{% csrf_token %}
              <div class="form-group">
                <label for="marvel_id">ID Marvel:</label>
                <input type="number" class="form-control" id="marvel_id" name="marvel_id" required>
              </div>
              <div class="form-group">
                <label for="titulo">Título:</label>
                <input type="text" class="form-control" id="titulo" name="titulo" required>
              </div>
              <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
              </div>
              <div class.form-group>
                <label for="precio">Precio:</label>
                <input type="number" class="form-control" id="precio" name="precio" required>
              </div>
              <div class="form-group">
                <label for="cantidad">Cantidad:</label>
                <input type="number" class="form-control" id="cantidad" name="cantidad" required>
              </div>
              <div class="form-group">
                <label for="picture">Imagen:</label>
                <input type="text" class="form-control" id="picture" name="picture"required>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
       
    </div>

    <!-- Agregar los scripts de Bootstrap al final del cuerpo del documento para un rendimiento óptimo -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
